{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript",
        "tabWidth": 2
      }
    },
    {
      "files": "*.{js,jsx,mjs}",
      "options": {
        "parser": "babel",
        "tabWidth": 2
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 100,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "parser": "yaml",
        "tabWidth": 4,
        "printWidth": 100
      }
    }
  ]
}
