@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    @apply font-default font-400 scroll-smooth select-none bg-theme-950 text-theme-50;
  }

  :focus-visible,
  [tabindex]:not([tabindex='-1']):focus-visible {
    @apply outline-none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block;
  }

  button,
  input,
  textarea {
    @apply font-default font-500;
  }

  .controller {
    @apply fixed inset-5 bg-theme-800/50 text-theme-50 rounded-xl backdrop-blur grid grid-rows-[auto_auto_1fr_auto] z-10 border-2 border-theme-800 overflow-hidden;
    @apply sm:absolute sm:w-80 sm:inset-10;
    @apply transition-all duration-300 ease-in-out;

    &.hide {
      @apply inset-y-0 rounded-b-none;
      top: calc(100% - 92px);

      .controller-header {
        @apply py-2;

        .controller-title {
          @apply text-base;
        }
      }

      .controller-section,
      .controller-section {
        @apply hidden;
      }
    }

    .controller-header {
      @apply px-4 pt-4 flex justify-between items-center transition-all;

      .controller-title {
        @apply text-xl font-800 font-lead transition-all;
      }

      .controller-actions {
        @apply flex gap-2 items-center;
      }
    }

    .controller-body {
      @apply overflow-auto flex-1 flex flex-col items-stretch scrollbar-hide;
    }

    .controller-section {
      @apply flex flex-col gap-2;

      .section-title {
        @apply text-sm font-700 px-4 pt-4;
      }

      .audio-player-progress {
        @apply w-full h-2 rounded-lg appearance-none cursor-pointer z-10 bg-theme-700 transition-all duration-100 ease-in-out;

        &::-webkit-slider-thumb {
          @apply appearance-none w-3 h-3 rounded-full bg-primary;
        }

        &::-moz-range-thumb {
          @apply appearance-none w-3 h-3 rounded-full bg-primary;
        }
      }
    }

    .controller-copyright {
      /* @apply fixed inset-x-5 bottom-0;
    @apply sm:w-80 sm:inset-x-10;
    @apply md:right-0 md:left-auto md:w-fit md:rounded-none md:rounded-tl-xl; */

      @apply text-xs bg-theme-950 px-4 py-2 z-10  text-theme-50 text-center;

      .link-profile {
        @apply text-secondary;
      }
    }
  }
}
