@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    @apply font-default font-400 scroll-smooth select-none bg-theme-950 text-theme-50;
  }

  :focus-visible,
  [tabindex]:not([tabindex='-1']):focus-visible {
    @apply outline-none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block;
  }

  button,
  input,
  textarea {
    @apply font-default font-500;
  }

  .controller {
    @apply absolute w-80 inset-y-10 left-10 bg-theme-800/50 text-theme-50 rounded-xl backdrop-blur flex flex-col z-10 border-2 border-theme-800 overflow-hidden;
  }

  .controller-title {
    @apply text-xl font-800 font-lead;
  }

  .controller-body {
    @apply overflow-auto flex-1 flex flex-col items-stretch scrollbar-hide;
  }

  .controller-section {
    @apply flex flex-col gap-2;

    .section-title {
      @apply text-sm font-700 px-4 pt-4;
    }
  }
}
